<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">My Projects</h1>
  <figure class="inline-block">
    <a href="https://github.com/yatoub/dicecord">
      <img src="/img/dicecord.svg" width="128" height="128" alt="Dicecord" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Dicecord</span>
    <figcaption class="block text-lg font-normal italic">Discord bot for RPG</span>
  </figure>
  <figure class="inline-block">
    <a href="https://github.com/yatoub/loki">
      <img src="/img/loki.svg" width="128" height="128" alt="Loki" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Loki</span>
    <figcaption class="block text-lg font-normal italic">File encryptor</span>
  </figure>
  <figure class="inline-block">
    <a href="https://github.com/yatoub/sushi">
      <img src="/img/sushi.png" width="128" height="128" alt="Loki" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Sushi</span>
    <figcaption class="block text-lg font-normal italic">SSH connection manager </span>
  </figure>
  <figure class="inline-block">
    <a href="https://resume.pcollin.fr">
      <img src="/img/CVTerminal.svg" width="128" height="128" alt="Loki" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">CV Terminal</span>
    <figcaption class="block text-lg font-normal italic">My resume in a terminal style</span>
  </figure>
  <a class="font-bold tracking-widest text-3xl mb-2"><br /></a>
  <a href="/files/CV.pdf" download="CV-Paul-Collin.pdf" class="font-bold tracking-widest text-3xl mb-2">Get my resume</a>
</div>
